.food{
    border: 1px solid goldenrod; 
 }
 #food-container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap:10px;
 }
 .searchBox{
     text-align: center;
     margin-top: 50px;
 }
 .search{
     width: 50%;
     height: 30px;
 }
 .btn{
    height: 30px;
     background-color: rgb(250, 235, 151);
 }
h3{
    text-align: center;
}
h2{
    font-size: 25PX;
    color: rgb(247, 131, 187);
}
.item{
    font-size: 15px;
    color: lightsalmon;
}
.detailImage{
    width: 150px;
}
.image{
    width: 250px;
    padding: 10px;
    text-align: center;
}
.search-text{
    color: rgb(53, 194, 199);
}