.food{
    border: 1px solid goldenrod; 
 }
 #food-container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap:10px;
     background-image: url();
 }
 .searchBox{
     text-align: center;
     margin-top: 50px;
 }
 .search{
     width: 50%;
     height: 30px;
 }
 .btn{
    height: 30px;
     background-color: blueviolet;
 }
.meal{
    
    text-align: center;
}
.button{
    margin-left: 100px;
    margin-bottom: 10px;
    color: brown;
}
p, h3, h2{
    text-align: center;
}
h2{
    font-size: 25PX;
    color: rgb(247, 131, 187);
}
.item{
    font-size: 15px;
    color: lightsalmon;
}
.details-btn{
  margin-left: 100px;
  margin-bottom: 10PX;
  background-color:lightgrey;
}
.detailImage{
    margin-left: 550px;
    width: 150px;
}
.image{
    width: 250px;
    padding: 10px;
}